/**
 * Main site styles
 */

// vars, functions, mixins
$base-size: 16px;
$line-height: 1.5;
$content-width: $base-size * 40;
$extended-width: $content-width * 1.5;
$grid-gap: 30px;

// fonts
$sans: "Open Sans", Helvetica, Arial, sans-serif;
$slab: "Bitter", serif;

// colors
$grey-darker: #333;
$grey-dark: #666;
$grey-medium: #999;
$grey-light: #ccc;
$grey-lighter: #e3e3e3;
$grey-eggshell: #f1f1f1;

$purple-cool: #330d5c;
$purple-warm: #56176a;
$purple-medium: #690969;
$purple-bright: #932b82;

$blue: #0e9ac8;
$blue-bright: $blue;
$blue-medium: #00769c;
$blue-midnight: #161331;

$aqua-bright: #0cafab;
$aqua-medium: #179693;

$yellow: #ffd877;
$pink: #c06;

// paths
$img-dir: '../img';

// get image url with a relative path
@function img($img, $path: $img-dir) {
	@return url('#{$path}/#{$img}');
}

// swipe background diagonally on hover
@mixin diagonal-swipe($background, $background-hover) {
	background-color: $background;
	background-image: linear-gradient(135deg, $background-hover 0%, $background-hover 50%, $background 50%, $background 100%);
	background-size: 300% 100%;
	background-position: 100% 50%;
	transition: background 600ms;

	&:focus, &:hover {
		background-color: $background-hover;
		background-position: 0% 50%;
	}
}

/**
 **********************************************************
 *
 * Defaults
 *
 **********************************************************
 */

html, body {
	border: 0;
	margin: 0;
	padding: 0;
	min-height: 100%;
}

html {
	font-family: $sans;
	font-size: $base-size;
	line-height: $line-height;
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	background: $grey-eggshell;
	color: $grey-darker;
}

img {
	height: auto;
	max-width: 100%;
}


/**
 **********************************************************
 *
 * Typography
 *
 **********************************************************
 */

.slab {
	font-family: $slab;
}

.sans {
	font-family: $sans;
}

a {
	border-bottom: 2px dashed transparent;
	color: $blue-medium;
	font-weight: bold;
	text-decoration: underline;
	transition: 300ms;

	&:focus, &:hover {
		color: $purple-bright;
	}

	&:focus {
		border-radius: 0;
		outline: none;
		border-bottom: 2px dashed $aqua-bright;
	}
}

h1, h2, h3, h4, h5, h6,
p, ul, ol {

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

p, ul, ol {
	margin-bottom: 1em;
	margin-top: 1em;
}

p {

}

.description {
	font-style: italic;
}

/**
 * Headlines
 */

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 1em;
	margin-top: 1em;
}

h1, h2, h3 {
	@extend .slab;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.5em;
	font-weight: 400;
}

h3 {
	font-size: 1.125em;
}

h4 {
	font-size: 1em;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.75em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.h1 {
	@extend h1;
}

.h2 {
	@extend h2;
}

.h3 {
	@extend h3;
}

.h4 {
	@extend h4;
}

.h5 {
	@extend h5;
}

.h6 {
	@extend h6;
}

// group titles closer to content
.title-group {
	margin-bottom: 1.7rem;
	margin-top: 1.2rem;

	&:first-child {
		margin-top: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;

		+ * {
			margin-top: 0.5em;
		}
	}
}

/**
 * Lists
 */

ul, ol, dl {
	padding-left: 1.5em;
}

li {
	margin-bottom: 0.25em;
	margin-top: 0.25em;
}

.list-plain {
	list-style-type: none;
}

/**
 * Misc.
 */

.note {
	color: $grey-medium;
	font-size: 0.75em;
	font-style: italic;
}

.error {
	color: $pink;
}


/**
 **********************************************************
 *
 * Colors
 *
 **********************************************************
 */

.dark {
	color: $grey-eggshell;

	a {
		color: #fff;

		&:not(.button) {

			&:focus, &:hover {
				color: $yellow;
			}
		}
	}
}

.light {
	color: $grey-darker;
}

.grey-dark, .purple-cool, .purple-warm, .blue-medium {
	@extend .dark;
}
.grey-lighter, .grey-eggshell, .white, .blue, .aqua {
	@extend .light;
}

.blue, .aqua {
	a:not(.button) {
		color: $purple-cool;

		&:focus, &:hover {
			color: $purple-warm;
		}
		&:focus {
			background: none;
		}
	}
}

.grey-dark {
	background: $grey-dark;
}

.purple-cool {
	background: $purple-cool;
}

.purple-warm {
	background: $purple-warm;
}

.blue {
	background: $blue;
}

.aqua {
	background: $aqua-bright;
}

.grey-lighter {
	background: $grey-lighter;
}

.grey-eggshell {
	background: $grey-eggshell;
}

.white {
	background: #fff;
}


/**
 **********************************************************
 *
 * Layout / Spacing
 *
 **********************************************************
 */

.container {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	max-width: 100%;
	width: $content-width;
}

// break out of container and bleed to edges of window
.bleed-full {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
}

body {
	@extend .bleed-full;
}

.content-width {
	width: $content-width;
}

.extended-width {
	width: $extended-width;
}

.site-main {

	.site-header.fixed ~ & {
		padding-top: calc(1.65rem + 8px);
	}
}

/**
 * Margin
 */

.flush-top {
	margin-top: 0;
}

.flush-bottom {
	margin-bottom: 0;
}

/**
 * Padding
 */

@for $i from 1 through 4 {
	.pad-#{$i} {
		padding: #{$i}em;
	}
	.pad-x-#{$i} {
		padding-left: #{$i}em;
		padding-right: #{$i}em;
	}
	.pad-y-#{$i} {
		padding-bottom: #{$i}em;
		padding-top: #{$i}em;
	}
}

.pad {
	@extend .pad-1;
}

.pad-x {
	@extend .pad-x-1;
}

.pad-y {
	@extend .pad-y-1;
}

/**
 * Alignment, Floats & Clears
 */

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.clear {
	clear: both;
}

.clearfix {
	&:after {
		clear: both;
		content: '';
		display: block;
		height: 0;
		width: 100%;
	}
}

/**
 * todo: grid/columns
 */

/**
 * Projects
 */
.project {
	border-bottom: 2px solid $grey-light;
	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 3em;
	padding-bottom: 3em;

	&:last-child {
		border-bottom: 0;
		padding-bottom: 0;
	}

	.preview {
		display: block;

		img {
			box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
			display: block;
		}
	}

	.info {
		padding: 1.5em;
	}
}

.project-link {
	font-family: $slab;
	font-style: italic;
}


/**
 **********************************************************
 *
 * Forms & Buttons
 *
 **********************************************************
 */

label {
	font-size: 0.75em;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;

	&.required {
		&:before {
			color: $pink;
			content: '*';
			display: inline-block;
			margin-left: -1em;
			text-align: center;
			width: 1em;
		}
	}
}

/**
 * Form Inputs
 */

%input {
	background: #fff;
	border: 2px solid $grey-light;
	border-radius: 0;
	box-sizing: border-box;
	box-shadow: none;
	font-family: $sans;
	font-size: $base-size;
	padding: 0.5em;
	transition: 300ms;
	width: 100%;

	&.invalid {
		border-color: $pink;
	}

	&:focus, &.invalid:focus {
		border-color: $aqua-bright;
		box-shadow: inset 2px 2px 4px rgba(#000, 0.3);
		outline: none;
	}

	label + & {
		margin-top: 0.25em;
	}

	& + .note {
		margin-top: 0.25em;
	}

	.grey-lighter & {
		border-color: $grey-medium;
	}
}

input[type=text], input[type=email], select, textarea {
	@extend %input;
}

textarea {
	max-width: 100%;
	min-height: 3em;
	min-width: 100%;
}

// todo: checkboxes / radios

/**
 * Buttons
 */

%button {
	@include diagonal-swipe($blue, $purple-bright);
	background-color: $blue;
	border: 0;
	border-radius: 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: $sans;
	font-size: $base-size * 1.25;
	font-weight: bold;
	line-height: $base-size * $line-height;
	max-width: 100%;
	min-width: 120px;
	outline: 2px dashed transparent;
	outline-offset: 2px;
	padding: #{(0.5 / 1.25)}em #{(1.5 / 1.25)}em;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 2px 6px rgba(#000, 0.375);
	transition: 600ms, outline 300ms;

	&:focus, &:hover {
		background-color: $purple-bright;
		box-shadow: 4px 4px 6px rgba(#000, 0.3);
		text-decoration: none;
	}

	&:focus {
		outline: 2px dashed $aqua-bright;
	}

	&.full {
		width: 100%;
	}
}

a.button, button, input[type=submit], input[type=button] {
	@extend %button;
}

%button, %input {
	&[readonly], &[disabled] {
		opacity: 0.5;
	}
}


/**
 **********************************************************
 *
 * Site Header
 *
 **********************************************************
 */

.site-header {
	background: mix($blue-midnight, $purple-cool, 75%);
	left: 0;
	line-height: 1;
	padding: 0.325em 0.75em;
	position: absolute;
	right: 0;
	top: 0;
	transition: background 300ms;

	&.fixed {
		position: fixed;
	}

	.container {
		opacity: 0.75;
		transition: opacity 300ms;
	}

	&:focus-within,
	&:hover {
		background: $blue-midnight;

		.container {
			opacity: 1;
		}
	}

	a {
		color: #fff;
		text-decoration: none;

		&:focus, &:hover {
			color: $aqua-bright;
			text-decoration: underline;
		}

		&:focus {
			border-bottom-color: $purple-bright;
		}
	}

	.home-link {
		display: block;
		font-family: $slab;
		font-size: 1rem;
		font-weight: normal;
		line-height: 1;
		margin-right: 0.5em;
		padding: 4px 0 2px 0;
	}
}

.site-nav {

	a {
		display: inline-block;
		font-size: 0.75em;
		line-height: 1rem;
		margin: 0 0.75em;
		padding: 4px 0 2px 0;
		vertical-align: middle;

		&:last-child {
			margin-right: 0;
		}
	}
}


/**
 **********************************************************
 *
 * Hero
 *
 **********************************************************
 */

.hero {
	padding: 6em 2em;

	h1:first-child {
		margin-top: -0.1em; // adjust for line height
	}
}


/**
 **********************************************************
 *
 * Site Footer
 *
 **********************************************************
 */

.site-footer {
	font-size: 0.75em;
	padding: 1em (2em / 0.75);
	text-align: center;
}


/**
 **********************************************************
 *
 * Responsive Breakpoints
 *
 **********************************************************
 */

@media screen and (min-width: 1025px) {

	$base-size: 18px;
	$content-width: $base-size * 40;
	$extended-width: $content-width * 1.5;

	body {
		font-size: $base-size;
	}

	.container, .content-width {
		width: $content-width;
	}

	.extended-width {
		width: $extended-width;
	}
}

@media screen and (max-width: 767px) {

	h1 {
		font-size: 2.125em;
	}

	h2 {
		font-size: 1.375em;
	}

	h3 {
		font-size: 1em;
	}
}

@media screen and (max-width: 599px) {

	.project {
		display: block;
		padding-left: 0;
		padding-right: 0;

		.info {
			margin-top: 1.5em;
			padding: 0;
		}
	}
}

@media screen and (max-width: 479px) {

	%button {
		width: 100%;
	}

	.hero {
		padding: 4em 2em;
	}
}
